# Python
backend/venv/
venv/
__pycache__/
*.py[cod]
*$py.class
*.so
.pytest_cache/

# Node
frontend/node_modules/
node_modules/
frontend/dist/
dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment
.env.local
.env.*.local

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
Thumbs.db
Desktop.ini
